 
.container{ 
    position: relative;
    width: fit-content;
} 


.quiz{
    width: 304px;
    height: 397px; 
    position: absolute;
    top: 17%; 
    left: 3%;
    cursor: pointer;
} 

.math-castle{
    width: 304px;
    height: 397px; 
    position: absolute;
    top: 17%; 
    left: 32%;
    cursor: pointer;
}